<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
  <html lang="en">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css" media="screen" class = "content">
   h3 { color: #f00; }
   ul { list-style: none; }
  </style>
  </head>
  <body>
  








<div id=":1ud" class="ii gt m146dbc6f60f0134a adP adO"><div id=":1ua" class="a3s" style="overflow: hidden;"><div class="adM">
</div><div style="font-family:Verdana,sans-serif;font-size:12px"><div class="adM">
  </div><div style="font-size:10px"><div class="adM">
  <br></div> This is an automated message.
</div>
<br>
<table bgcolor="#eee" border="0" width="100%">
  <tbody><tr>
    <td>
      <img alt="" src="http://dummyimage.com/200x50/eee/000.png&text=Review+Painers">
    </td>
  </tr>
</tbody></table>
<br>







  <strong><p class="text-warning">Dear <%= @user.first%>,</p></strong>
  <p class="text-success"><%= @reviews.count %> of your reviews have comments that have not yet been addressed this week:</p>
  <p>
    <table border="0" style="width:800px">
    <tr style="background:#eee">
      <th style="padding:7px" width="40%">Review Url</th>
      <th style="padding:7px" width="40%">Reviewee</th>
      <th style="padding:7px; color:black">No. of Unaddressed comments</th>
    </tr>

    <% @reviews.each do |review| %>
    <tr style="background:#eee;color:#8b0000">
      <td style="padding:8px"><%= review[0] %></td>	
      <td style="padding:8px"><%= review[1] %></td>
      <td style="padding:8px;background:#eee;color:#333"><%= review[2] %></td>
    </tr>
    <%end%>
    </table>
  </p>


<%
h = {};
arr = @reviews.collect{|review|[review.second,review.third]}
arr.each{|k,v| h[k] = 0};
arr.each{|k,v| h[k] = h[k] + v};
h2 = {};
h.sort_by {|_key, value| value}.each{|k,v| h2[k] = v} %>
<h3>Your Painer of the week: <i><%= h2.to_a.last.first %></i></h3>


<br>
<br>
<strong>
Best wishes,
<br>
Review Painers App
</strong>
<br>
<br>


<div style="color:#b5121b">
  The information set forth in this email has been provided in good faith and based on our reasonable belief in its current accuracy. Please note that information is subject to change from time to time.<br>
  <br></div>
<div style="border-bottom:2px solid #b5121b;padding-bottom:10px">
  <i>This message may contain confidential information which may also be legally privileged information. If you are not an intended recipient of the message, please delete it and notify the sender via reply email. Any unauthorized dissemination, distribution or copying of the material in this message, and any attachments to the message, is strictly forbidden.</i>
</div>
<br>
<div style="color:#b3b3b3;font-size:11px">
  <br>
  Not an intended Recipient? Don't worry - simply delete this message, or email <a href="mailto:CommunityManager@intven.com" target="_blank">CommunityManager@intven.com</a> to let us know if you suspect abuse. If you have any questions or concerns, contact us at <a href="mailto:CommunityManager@intven.com" target="_blank">CommunityManager@intven.com</a>.
  <br>
  Copyright © 2003-2014   Intellectual Ventures Management, LLC. ALL RIGHTS RESERVED.
</div>

</div>
  
  <div></div>
  <img src="https://ci5.googleusercontent.com/proxy/Uo0oIcN_w2p66lf8Ukl-hsWRD89BCZSU0rRxuodfcDygD1gZcSEZLhSECqIVEE_KrSxK0tU3t_RB_6k3-A=s0-d-e1-ft#https://s8u6wrjb.emltrk.com/s8u6wrjb?d=" width="1" height="1" border="0"><div class="yj6qo"></div><div class="adL">
</div></div></div>


  </body>
  </html> 
